 body {
     background-color: #e9d3a1;


 }

 footer {
     background-color: #762445;
 }

 #nai {
     width: 50%;
 }

 .naisou {
     background-color: #9b9c7c;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 10px;
     padding: 20px;
     border-radius: 10px;
 }

 .naisou img {
     margin-right: 30px;
     width: 30%;
 }

 .naisou p {
     text-align: center
 }


 #gif {
     width: 25%;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .slider-container {
     max-width: 50%;
     margin: 20px auto;
 }

 .slider-nav {
     max-width: 400px;
     margin: 0 auto;
 }


 .slider-nav img {
     width: 100% !important;
     max-width: 120px;
     height: 100px !important;
     object-fit: cover;
     cursor: pointer;
     opacity: 0.6;
 }

 .slider-nav .slick-current img {
     opacity: 1;
     border: 4px solid #1e172c;
 }

 .slider-for {
     margin-bottom: 20px;
 }






 .slider-container .slick-prev,
 .slider-container .slick-next {
     width: 100px;
     height: 100px;
     z-index: 100;
 }


 .slider-container .slick-prev {
     left: -90px !important;
 }

 .slider-container .slick-next {
     right: -90px !important;
 }

 .slider-container .slick-prev:before,
 .slider-container .slick-next:before {
     font-size: 50px !important;
     line-height: 100px;
 }





 /* 「トップへ戻る」ボタンの基本スタイル */
 .top {
     /* 画面右下に固定表示 */
     position: fixed;
     bottom: 20px;
     right: 20px;

     /* デザイン */
     background-color: #6A0D15;
     color: #FAF0E6;
     padding: 10px 15px;
     border-radius: 5px;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
     z-index: 1000;
     display: block;
 }

 #siro {
     width: 100%;
     background-color: #FFFBF8;
 }


 #rogo {
     width: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 #douga {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     width: 70%;
     height: auto;
 }

 h1,
 h2 {
     color: #2f102d;
 }

 img {
     width: 50%;
 }

 .shop {
     background-color: #F78486;
     width: 100%;
 }

 .cakes {
     background-color: #9b9c7c;
     width: 31%;
     padding: 1%;
     border-radius: 12px;
     text-align: center;

 }

 .cakes img {
     width: 100%;
     border-radius: 12px;

 }

 .cakes1 {
     display: flex !important;
     align-items: center;
     background-color: #9b9c7c;
     border-radius: 12px;
     padding: 20px;
     gap: 20px;
     text-align: left
 }


 .cakes1 img {
     width: 50% !important;
     height: auto;
     border-radius: 12px;
 }






 .wrap {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-bottom: 10px;
 }



 ul.ddmenu {
     display: flex;
     margin: 0px;
     padding: 0px;
     background-color: #762445;
     /* バーの背景色(濃い赤色) */
 }

 ul.ddmenu li {
     flex-grow: 1;
     display: inline-block;
     list-style-type: none;
     position: relative;
 }

 ul.ddmenu ul li {
     width: 100%;

 }

 ul.ddmenu a {
     background-color: #762445;
     /* メニュー項目の背景色(濃い赤色) */
     color: white;
     /* メニュー項目の文字色(白色) */
     line-height: 60px;
     text-align: center;
     /* メニュー項目のリンクの高さ(40px) */
     /* メインメニューの文字列の配置(中央寄せ) */
     text-decoration: none;
     /* メニュー項目の装飾(下線を消す) */
     font-weight: bold;
     /* 太字にする*/
     display: block;
     font-size: 18px;
 }

 ul.ddmenu ul {
     display: none;
     margin: 0px;
     padding: 0px;
     position: absolute;
     width: 100%;
 }

 ul.ddmenu a:hover {
     background-color: #a78a43;
     /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
     color: #e52542;
     /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
 }

 ul.ddmenu li:hover ul {
     display: block;
     /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する*/
 }